/*-----MEDIA-----*/
@media (max-width: 700px) {
    /*--FONTS--*/
    h1, 
    h3, 
    p,
    .box {
        font-size: 90% !important;
    }

    /*--MOBILE NAV--*/
    #mobile-nav-links {
        display: flex !important;
    }

    #mobile-nav-links .dropdown .dropdown-menu {
        position: absolute;
        top: 120%;
        left: -190%;
        display: none;
        margin: 0;
        list-style: none;
        width: 292%;
        background: var(--dark-blue);
        padding: 0;
        z-index: 1;
    }
    
    #mobile-nav-links .dropdown:hover .dropdown-menu {
        display: block;
    }
    
    #mobile-nav-links .dropdown li {
        color: white;
        margin: 0;
        padding: 10px 0;
        font-size: 1rem;
        width: 100%;
        background: var(--dark-blue);
    }
    
    #mobile-nav-links .dropdown li:hover {
        background: var(--purple);
        width: 100%;
        box-shadow: 4px 3px 8px 1px black;
    }

    #nav-links {
        display: none !important;
    }

    /*--INDEX.HTML--*/
    #welcome img {
        max-height: 150px !important;
        max-width: 70px !important;
    }

    /*--DATABASE-EMPLOYEES--*/
    .emp img {
        max-width: 100px !important;
    }
}

/*----------ROOT & HTML STYLES-------------*/
:root {
    --dark-blue: #232135; /*-rgba(35,33,53,1.000)-*/
    --purple: #602bb6;
    --default-font: 'Open Sans', sans-serif, Arial, Helvetica;
}

*, ::before, ::after {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


body {
    box-sizing: border-box;
    font-family: var(--default-font);
    background: var(--dark-blue);
    color: white;
    width: 100%;
    letter-spacing: .1em;
    animation: fadein 3s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

nav {
    background: var(--dark-blue);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0;
    padding: 10px 20px;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 1;
}

main {
    padding-top: 60px;
}

/*----------SPECIAL STYLES-------------*/
.box-shadow {
    box-shadow: 4px 3px 8px 1px black;
}

/*----------DROPDOWN STYLES-------------*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 150%;
    display: none;
    margin: 0;
    list-style: none;
    min-width: 120%;
    background: var(--dark-blue);
    padding: 0;

}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown li {
    color: white;
    border: none;
    margin: 0;
    padding: 10px 0;
    font-size: 1em;
    width: 100%;
}

.dropdown li:hover {
    background: var(--purple);
    width: 100%;
    box-shadow: 4px 3px 8px 1px black;
}

/*----------FONTS-------------*/
h1 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

p em {
    font-size: smaller;
}

a {
    color: var(--purple);
}

a:hover {
    color: yellow;
}

a:active {
    color: var(--purple);
}

/*----------NAV-------------*/
#nav-logo {
    grid-column: 1 / 1;
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
}

#nav-logo img {
    width: 40px;
    height: 40px;
}

#nav-links {
    grid-column: 3/3;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
}

#nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

#nav-links a:hover {
    background: var(--purple);
}

/*----------MOBILE NAV-------------*/
#mobile-nav-links {
    display: none;
    font-size: 1.7em;
    grid-column: 3/3;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
}

#mobile-nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

#mobile-nav-links a:hover {
    background: var(--purple);
}

/*----------WELCOME CONTAINERS-------------*/
.welcome-containers {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    gap: 20px;
    border-radius: 5px;
    background-image: url("../assets/Screens/Splashscreen_SUMMER.png");
    background-color: var(--dark-blue);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

#welcome img {
    max-height: 250px;
    height: 100%;
    max-width: 150px;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    row-gap: 20px;
}

#game-news {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    row-gap: 20px;
    border-radius: 5px;
    border: 1px solid white;
}

#editor-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    width: 80%;
    margin: 20px auto 0 auto;
    padding: 20px;
    row-gap: 5px;
    border-radius: 5px;
    border: 1px solid white;
}

#editor-message h3 {
    text-align: center;
    background: var(--purple);
    padding: 10px;
    border-radius: 5px;
}

/*----------ABOUT CONTAINERS-------------*/
/*----------DATABASE CONTAINERS-------------*/
/*----------DATABASE-EMPLOYEES CONTAINERS-------------*/
#main-employee {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/Screens/Splashscreen_SUMMER.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#employee-title {
    display: flex;
    max-width: 1000px;
    padding: 40px 1em;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    background-color: rgba(35,33,53,.75);
    border-radius: 5px;

}

#employee-title h1 {
    text-decoration: underline;
}



#employee-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px auto;
    max-width: 1000px;
    border: 1px solid var(--purple);
    border-radius: 5px;
}

#employee-grid .box {
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: .6em;
    border: 1px solid var(--purple);
    background-color: var(--dark-blue);
    animation: fadein-onscroll 2s;
}

#employee-grid .grid-title {
    grid-column: 1/5;
    grid-row: 1;
    background: var(--purple);
    font-weight: bold;
    font-size: 1.3em;
}

#employee-grid .box:nth-child(2),
#employee-grid .box:nth-child(3),
#employee-grid .box:nth-child(4),
#employee-grid .box:nth-child(5) {
    font-weight: bolder;
    font-size: 1.1em;
}

.emp {
    font-weight: bold;
}

.emp>img {
    max-width: 130px;
    height: auto;
}


/*----------CONTACT CONTAINERS-------------*/
.contact-containers {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    gap: 20px;
    border-radius: 5px;
    background-image: url("../assets/Screens/Splashscreen_SUMMER.png");
    background-color: var(--dark-blue);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

#contact img {
    max-height: 250px;
    height: 100%;
    max-width: 150px;
}

.contact-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    row-gap: 20px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    width: 80%;
    margin: 20px auto 20px auto;
    padding: 20px;
    row-gap: 20px;
    border-radius: 5px;
    border: 1px solid white;
}

#contact-form form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    row-gap: 10px;
}

#contact-form h3 {
    text-align: center;
    background: var(--purple);
    padding: 10px;
    border-radius: 5px;
}

#contact-form > form > fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    row-gap: 20px;
    width: 100%;
    margin: 0 auto;
}

#contact-form > form > fieldset > input,
#contact-form > form > fieldset > label > textarea,
#contact-form > form > fieldset > label > select {
    padding: 10px;
    border-radius: 5px;
    font-family: var(--default-font);
}

#contact-form > form > fieldset > label {
    display: flex;
    flex-direction: column;
}


#contact-form > form > button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--purple);
    color: white;
    transition: .5s;
}

#contact-form > form > button:hover {
    background-color: gold;
    color: var(--purple);
    font-weight: bolder;
    cursor: pointer;
}
